<!doctype html> 
<html lang="en"> 
  
<head> 
      <meta charset="UTF-8">
      <meta name="viewport" content="width-device-width,initial-scale=1.0">
      <title> About Me </title>
      <style>
        h1 {text-align: center;}
        p {text-indent: 0%;
           font-size: 25px;
          }
        div {text-align: center;}
        
        table, th, td {
          border: 2px solid black;
          border-collapse: collapse;
        }
        table.center {
          margin-left: auto;
          margin-right: auto;
        }
        th,td{
            text-align: center;
            font-size: 20px;
            height: 30px;
            vertical-align: bottom;
          }
      </style>
</head>

<body style="background-color:thistle;">
  <div class="text-center">
    <h1 style="font-size: 30px;"> Profile </h1>
    <h3 class="mb-3" style="font-size: 20px;">Aspiring Engineer | Eager to Make an Imapact</h3> 
    <h2>Frontend Developer</h2>
  </div>

  <div class="text-left"> 
    <i class="fas fa-quote-left pe-2"></i> 
    <p style="text-align:center;">
      A Passionate individual seeking for an opportunity </br>
      in a dynamic organization to apply my technical </br>
      expertise and analytical skills, drive innovative </br>
      solutions and be a part of the team that helps me </br>
      to grow both professionally and personally while </br>
      staying updated with current trends </p>
  </div> 

  <div class="text-center">
    <h3 style="font-size: 30px;">Academic Information</h3>
  </div>
  <table class="center">
    <tr>
      <th>Internship </br>
          (Oct 2023-Jun 2024)
      </th>
      <td> Tata Elxsi Ltd</br>
           Trainee-CTO
      </td>
    </tr>
    <tr>
      <th>Undergraduation</br>
          B.E - Electronics and Communication </br>
          (2020-2024)
      </th>
      <td>R.M.K. Engineering College,Tiruvallur</br>
          CGPA: 9.15</td>
    </tr>
    <tr>
      <th>Senior Secondary</br>
          (2019-2020)
      </th>  
      <td>Maharishi School Of Excellence,Chennai</br>
          Percentage: 86%</td>      
    </tr>  
    <tr>
      <th>Secondary </br>
          (2017-2018)
      </th>
      <td>Maharishi School Of Excellence,Chennai</br>
          Percentage: 87%</td>
    </tr>
  </table>

</body>
</html>
